$color-purple: #8b5cf6;
$color-pink: #ec4899;
$color-gray: #9ca3af;
$color-black: #1f2937;
$card-size: 25rem;

//body {
//  width: 50vw;
//  height: 50vh;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  overflow: hidden;
//  font-family: "Montserrat", sans-serif;
//}
//
//* {
//  box-sizing: border-box;
//}

.carousel {
  position: relative;
  width: $card-size;
  height: $card-size/1.618;
  perspective: 10000px;
  transform-style: preserve-3d;
}

.card-container {
  position: absolute;
  width: 90%;
  height: 83%;
  transform: rotateY(calc(var(--offset) * 40deg)) scaleY(calc(1 + var(--abs-offset) * -0.3))
    translateZ(calc(var(--abs-offset) * -25rem)) translateX(calc(var(--direction) * -4rem));
  filter: blur(calc(var(--abs-offset) * 0.8rem));
  transition: all 0.3s ease-out;
}

.card {
  width: 100%;
  height: 100%;
  padding: 6.5rem 1rem 0 1rem;
  background-color: hsl(280deg, 40%, calc(100% - var(--abs-offset) * 50%));
  border-radius: 1rem;
  color: $color-gray;
  text-align: justify;
  transition: all 0.3s ease-out;

  h3 {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px #626262;
  }

  p {
    font-size: 0.7rem;
    color: white;
    text-shadow: 1px 1px 2px #626262;
  }
}

.nav {
  color: rgba(255, 178, 249, 0.962);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;

  &.left {
    transform: translateX(-110%) translatey(-80%);
  }

  &.right {
    right: 0;
    transform: translateX(0%) translatey(-80%);
  }
}
